* {
    margin: 0;
    padding: 0;
}

button,
#txt-pesquisa {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
}

button {
    cursor: pointer;
}