* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

button,
#txt-pesquisa {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
}

img {
    border-radius: 5%;
}

button {
    cursor: pointer;
}

/*GRID DO BODY*/

.container {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-areas: "header header"
        "asideE main "
        "footer footer ";
    }


/*============= HEADER ==============*/

header {
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 3fr 1fr;
    grid-area: header;
}

#logo {
    width: 50vh;
}

.container-pesquisa-e-botoes,
.container-pesquisa,
.botoes-login-cesta {
    display: flex;
    align-self: center;
}


#txt-pesquisa {
    background: #f0ead281;
    outline: none;
    height: 8vh;
    width: 50vw;
}

.lupa-pesquisa img {
    width: 2vw;
    padding: 0 0 0 5%;
}

.lupa-pesquisa:hover {
    transform: scale(1.1);
}

#btn-login,
#btn-cesta {
    margin: 0 10%;
    padding: 0 20%;
    align-self: center;
    border-radius: 10%;
}

#btn-login {
    background: #DDE5B6;
    height: 5vh;
}

#btn-cesta {
    background: #DDE5B6;
}

#btn-cesta img {
    width: 4.5vh
}

/*============ MAIN ============*/
main {
    grid-area: main;
}

p,
h2 {
    font-family: 'Raleway', sans-serif;
    font-family: 'Share Tech', sans-serif;
    font-size: 2vh;
    line-height: 3vh;
    color: #7a604bd3;
    letter-spacing: .2vh;
}

main p span {
    font-weight: 700;
}

.banner {
    display: flex;
    justify-content: center;
}

.banner p {
    background: #a98467d3;
    font-size: 2.2rem;
    color: white;
    padding: 3% 1%;
}

.container-promo-dia {
    height: 80vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 5%;
    display: grid;
    flex-direction: row;
    justify-self: center;
    row-gap: 5vh;
    column-gap: 2vh;
}

.card-promo-dia img{
    background: #f0ead279;
    height: 25vh;
    width: 25vh;
    justify-self: center;
    align-self: center;
    text-align: center;

}

.card-promo-dia:hover {
    transform: scale(1.1);
}

.container-secoes-produtos {
    height: 60vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 20%;
    display: grid;
    flex-direction: row;
    row-gap: 10vh;
    column-gap: 2vh;
}

.foto-secao-de-produtos {
    border-radius: 50%;
    height: 100%;
}

.secao-de-produtos {
    background: #ADC178;
    height: 20vh;
    width: 20vh;
    justify-self: center;
    align-self: center;
    text-align: center;
    border-radius: 50%;
}

.foto-secao-de-produtos {
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
}

.secao-de-produtos:hover {
    transform: scale(1.1);
}

.container-produtos-dia {
    height: 35vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 25%;
    display: grid;
    flex-direction: row;
    justify-self: center;
    row-gap: 2vh;
    column-gap: 2vh;
}

.cards-produto-dia img{
    background: #f0ead279;
    height: 25vh;
    width: 18vw;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.cards-produto-dia:hover {
    transform: scale(1.05);
}

/*============== ASIDE ESQUERDO ===============*/

aside {
    margin-top: 50%;
}


#aside-esquerdo {
    height: 200vh;
    width: 13vw;
    display: grid;
    flex-direction: column;
    background: #6c794b2c;
    grid-area: asideE;
}

.card-aside-esquerdo img{
    width: 13vw;
    height: 13vh;
    background: #aec1782c;
    margin-top: 10%;
    justify-self: center;
    text-align: center;
}

.card-aside-esquerdo p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    color: rgb(44, 83, 44);
}


/*============ FOOTER =================*/
footer {
    width: 99vw;
    grid-area: footer;
    background: #6c584c7a;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.redes-sociais {
    justify-self: center;
    align-self: center;
}

.forma-de-pagamento {
    align-self: center;
}

.contato {
    justify-self: center;
}

.img-rede-social {
    width: 3vw;
    justify-items: center;
    opacity: 80%;
}

@media screen and (min-width:780px) and (max-width: 1025px){
    
    main {
        text-align: center;
    }
    #logo {
        width: 20vh;
    }

    .card-aside-esquerdo p {
        font-size: 1.5vh;
        align-content: center;
    }
    
    .container-promo-dia {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .container-secoes-produtos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 80vh; 
        margin: 50% 0;
    }

    .container-produtos-dia {
        margin: 80% 0 10% 0;
        height: 80vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    footer {
        width: 99vw;
    }
    
}

@media screen and (min-width:376px) and (max-width: 779px){
    
    main {
        text-align: center;
    }
    #logo {
        width: 10vh;
    }
    
    .banner p {
        font-size: 1.5vh;
    }

    .card-promo-dia img{
        width: 20vw;
        height: 20vw;

    }

    .card-aside-esquerdo p {
        font-size: 1.5vh;
        align-content: center;
    }
    
    .container-promo-dia {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .container-secoes-produtos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 80vh; 
        margin: 50% 0;
    }

    .container-produtos-dia {
        margin: 150% 0 10% 0;
        height: 80vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .container-produtos-dia img {
        width: 25vw;
        height: 15vh;
    }

    #aside-esquerdo {
        display: none;
    }

    footer {
        width: 99vw;
    }
    
}


@media screen and (min-width:375px) {

    .container {
        display: grid;
        grid-template-columns: 1fr 7fr;
        grid-template-areas: "header header"
            "main main "
            "footer footer ";
        }

    #logo {
        width: 10vh;
        margin-top: 30%;
    }


    .lupa-pesquisa img{
        width: 2vh;
    }

    .container-pesquisa-e-botoes {
        display: grid;
        flex-direction: column;
        grid-template-rows: 1fr 1fr;
        row-gap: 2vh;
        margin-top: 10%;
    }

    #txt-pesquisa {
        width: 280px;
    }

    .botoes-login-cesta {
        margin: 0 auto;
        margin-left: 10%;
    }
    .banner p {
        font-size: 2.5vh;
    }
    
    #aside-esquerdo {
        display: none;
    }

    main {
        text-align: center;
    }
    
    
    .container-promo-dia {
        display: none;
    }

    .container-secoes-produtos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 80vh; 
        margin: 10% 0;
    }

    .container-produtos-dia {
        margin: 150% 0 10% 0;
        height: 80vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .container-produtos-dia img {
        width: 30vw;
        height: 15vh;
    }

    footer {
        width: 99vw;
    }

    .forma-de-pagamento {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .cartao {
        width: 60%;
    }

    .img-rede-social {
        width: 30%;
    }
    
}