* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

button,
#txt-pesquisa {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
}

img {
    border-radius: 5%;
}

button {
    cursor: pointer;
}

/*GRID DO BODY*/

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "header header header"
        "asideE main main"
        "footer footer footer";
}


/*============= HEADER ==============*/

header {
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 3fr 1fr;
    grid-area: header;
}

#logo {
    width: 50vh;
}

.container-pesquisa-e-botoes,
.container-pesquisa,
.botoes-login-cesta {
    display: flex;
    align-self: center;
}


#txt-pesquisa {
    background: #f0ead281;
    outline: none;
    height: 8vh;
    width: 50vw;
}

.lupa-pesquisa img {
    width: 2vw;
    padding: 0 0 0 5%;
}

.lupa-pesquisa:hover {
    transform: scale(1.1);
}

#btn-login,
#btn-cesta {
    margin: 0 10%;
    padding: 0 20%;
    align-self: center;
    border-radius: 10%;
}

#btn-login {
    background: #DDE5B6;
    height: 5vh;
}

#btn-cesta {
    background: #DDE5B6;
}

#btn-cesta img {
    width: 4.5vh
}

/*============ MAIN ============*/
main {
    grid-area: main;
}

p,
h2 {
    font-family: 'Raleway', sans-serif;
    font-family: 'Share Tech', sans-serif;
    font-size: 2vh;
    line-height: 3vh;
    color: #7a604bd3;
    letter-spacing: .2vh;
}

main p span {
    font-weight: 700;
}

.banner {
    display: flex;
    justify-content: center;
}

.banner p {
    background: #a98467d3;
    font-size: 2.2rem;
    color: white;
    padding: 3% 1%;
}

.container-promo-dia {
    height: 80vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 5%;
    display: grid;
    flex-direction: row;
    justify-self: center;
    row-gap: 5vh;
    column-gap: 2vh;
}

.card-promo-dia {
    background: #f0ead279;
    height: 25vh;
    width: 25vh;
    justify-self: center;
    align-self: center;
    text-align: center;

}

.card-promo-dia:hover {
    transform: scale(1.1);
}

.container-secoes-produtos {
    height: 60vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 20%;
    display: grid;
    flex-direction: row;
    justify-self: center;
    row-gap: 10vh;
    column-gap: 2vh;
}

.foto-secao-de-produtos {
    border-radius: 50%;
    height: 100%;
}

.secao-de-produtos {
    background: #ADC178;
    height: 20vh;
    width: 20vh;
    justify-self: center;
    align-self: center;
    text-align: center;
    border-radius: 50%;
}

.foto-secao-de-produtos {
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
}

.secao-de-produtos:hover {
    transform: scale(1.1);
}

.container-produtos-dia {
    height: 35vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 25%;
    display: grid;
    flex-direction: row;
    justify-self: center;
    row-gap: 2vh;
    column-gap: 2vh;
}

.cards-produto-dia img{
    background: #f0ead279;
    height: 25vh;
    width: 18vw;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.cards-produto-dia:hover {
    transform: scale(1.05);
}

/*============== ASIDE ESQUERDO ===============*/

aside {
    margin-top: 50%;
}


#aside-esquerdo {
    height: 200vh;
    width: 18vw;
    display: grid;
    flex-direction: column;
    background: #6c794b2c;
    grid-area: asideE;
}

.card-aside-esquerdo img{
    width: 18vw;
    height: 18vh;
    background: #aec1782c;
    margin-top: 10%;
    justify-self: center;
    text-align: center;
}

.card-aside-esquerdo p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    color: rgb(44, 83, 44);
}


/*============ FOOTER =================*/
footer {
    grid-area: footer;
    background: #6c584c7a;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.redes-sociais {
    justify-self: center;
    align-self: center;
}

.forma-de-pagamento {
    align-self: center;
}

.contato {
    justify-self: center;
}

.img-rede-social {
    width: 3vw;
    justify-items: center;
    opacity: 80%;
}

